:root {
    --mainWidth: 98vw; 
    --mainColor:  rgb(194, 214, 245);
    --mainFontSize: 10px;
    --mainButtonColor: rgb(187, 198, 228);
    --mainBorderColor: rgb(0,0,0);
    --mainInputHeight: 15px;
    --mainInputWidth: 200px;
    --mainSelectHeight: 21px;
    --mainSelectWidth: 204px;
  }


body {
    font-family: Helvetica, "Trebuchet MS", Arial, sans-serif !important;
    overflow: hidden;
    font-size: 12px;
    zoom:1;
}

button:hover {
    border: 2px solid rgb(150,150,150);
}

/* DIV */


.tab {
    width: var(--mainWidth);
    height: 90vh;
    display: none;
    color: rgb(0, 51, 0);
    background-color: var(--mainColor);
    border-left: 1px solid var(--mainBorderColor);
    border-right: 1px solid var(--mainBorderColor);
    border-top: 1px solid var(--mainBorderColor);
    overflow: hidden;
    align-self: center;
}

#div_login{
    color: rgb(0, 51, 0);
    background-color: var(--mainColor);
    border: 1px solid var(--mainBorderColor);
    padding-left:8px;
    height: 90vh;
}

.tab div {
    width: 100%;
    padding: 1px;
    align-items: center;
    overflow: hidden;
}

/* TAB MAIN INFO*/

#div_allPlayersTable {
    max-height: 40%;
    overflow: auto;
    padding-bottom: 5px;
}

#div_graph {
    background-color: var(--mainColor);
    height: 50%;
    padding-bottom: 5px;
}

#div_GraphControl {
    background-color: var(--mainColor);
    max-height: 10%;
    padding-bottom: 5px;
}

#div_exerciseHistory {
    background-color: var(--mainColor);
    height: 63%;
    overflow-y: scroll;
}

/* TAB EXERCISE OVERVIEW */

#div_addNewExercise {
    background-color: var(--mainColor);
}

#div_exerciseTable {
    background-color: var(--mainColor);
    height: 60%;
    top: 25%;
    overflow-y: scroll;
}

/* TAB STATISTICS INFO*/

#div_achievementsDone {
    height: 50%;
    overflow: auto;
}

#div_achievementsDone table td div, #div_achievementsToDo table td div {
    overflow: visible;
    white-space: nowrap;
}

#div_achievementsDone table td:first-child, #div_achievementsToDo table td:first-child {
    width: 20%;
}

#div_achievementsDone table td, #div_achievementsToDo table td {
    width: 40%;
}
#div_achievementsDone table{
    font-size: 12px;
    
}

#div_achievementsDone table td{
    padding: 1px;
}

/********************/

#div_navigation {
    width: var(--mainWidth);
    min-height: 5vh;
    height: 5vh;
    display: none;
    color: rgb(0, 51, 0);
    background-color: var(--mainColor);
    border: 1px solid var(--mainBorderColor);
    overflow: hidden;
}

/* INPUTS, SELECTS, BUTTONS */

.tab input {
    width:  var(--mainInputWidth);
    height: var(--mainInputHeight);
    background-color: white;
    margin: 1px;
}

.tab select {
    width:  var(--mainSelectWidth);
    height: var(--mainSelectHeight);
    background-color: white;
    margin: 1px;
}

.tab label {
    display: inline-block;
    height: 10px;
    width: 10em;
    font-size:10px;
    padding-left:5px;
}

#div_addNewExercise label{
    width: 200px;
}


.tab button {
    background-color: var(--mainButtonColor);
    text-align: center;
    font-size: var(--mainFontSize);
    width: 100px;
    height: 30px;
    padding: 10px;
}

#div_navigation button {
    background-color: var(--mainButtonColor);
    text-align: center;
    font-size: var(--mainFontSize);
    margin: 0.1%;
    width: 8%;
    height: 90%;
    min-width: 5%;
    min-height: 90%;
    padding: 1px;
}

/* CANVAS */

#canvas_graphHistory {
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--mainBorderColor);
}

/* TABLES */

.std_table {
    font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
    font-size: var(--mainFontSize);
    border-collapse: collapse;
    width: 100%;
}

.std_table td, .std_table th {
    border: 1px solid rgb(221, 221, 211);
    padding: 8px;
}

.std_table td:first-child {
    text-align: left;
}

.std_table thead tr td {
    background: rgb(38, 78, 39);
    position: sticky;
    top: 0px;
    z-index: 1;
}

.std_table thead tr td.hiddenCell {
    position: absolute;

}

.std_table tr:nth-child(even) {
    background-color: rgb(240, 240, 240);
}

.std_table thead tr {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(38, 78, 39);
    color: white;
}

.std_table tbody tr:hover {
    color: rgb(46, 45, 65);
}

/* OTHER CLASSES */

.negative {
    color: rgb(255, 0, 0);
}

.total {
    font-weight: bold;
}

.tableTooltip .tooltiptext {
    visibility: hidden;
    background-color: rgb(112, 108, 107);
    color: rgb(255, 255, 255);
    text-align: left;
    width: 10vw;
    padding: 5px 0px;
    right: 10vh;
    top: 10vh;
    opacity: 0.90;
    font-size: var(--mainFontSize);
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    overflow: auto;
    font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
}

.tableTooltip:hover .tooltiptext {
    visibility: visible;
}

.inputToolTip .tooltiptext {
    visibility: hidden;
    background-color: rgb(112, 108, 107);
    color: #fff;
    text-align: left;
    width: 10vw;
    padding: 5px 0px;
    right: 10vw;
    top: 10vh;
    opacity: 0.90;
    font-size: var(--mainFontSize);
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    overflow: auto;
    font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
}

.inputToolTip:hover .tooltiptext {
    visibility: visible;
}

.notEarned {
    color: rgb(255, 0, 0);
    font-style: italic;
}

.hiddenCell {
    visibility: hidden;
    position: absolute;
}

