body{
    font-family: Helvetica,"Trebuchet MS", Arial, sans-serif !important;
    overflow: hidden;
    font-size:12;
}

button:hover {
    border:2px solid #515151;
  }

 /* DIV */

 #div_Sign {
    color: #030;
    background-color: rgb(194, 214, 245);
    border: 1px solid #000000;
}

.tab{
    width: 100%;
    height: 95%;
    display: none;
    color: #030;
    background-color: rgb(194, 214, 245);
    border: 1px solid #000000;
    overflow: hidden;
}

/* TAB PERSONAL INFO*/
#div_PersonalInfo{
    width: 100%;
    height: 10%;
}

#div_addWorkout{
    width: 100%;
    height: 20%;
    
}

#div_exerciseHistoryControl{
    width: 100%;
    height: 15%;
}

#div_exerciseHistory{
    background-color: rgb(194, 214, 245);
    width: 100%;
    height: 55%;
    overflow-y: scroll;
}


/********************/

/* TAB EXERCISE OVERVIEW */
#div_addNewExercise{
    background-color: rgb(194, 214, 245);
    height: 25%;
    width:100%;
}

#div_exerciseTable{
    background-color: rgb(194, 214, 245);
    width: 100%;
    height: 75%;
    top:25%;
    overflow-y: scroll;
}

/* TAB STATISTICS INFO*/

#div_graph{
    background-color: rgb(194, 214, 245);
    height: 50%;
    width:100%;
}

#div_GraphControl{
    background-color: rgb(194, 214, 245);
    height: 50%;
    width:100%;
}


/********************/

#div_navigation{
    width: 100%;
    height:5%;
    display: none;
    color: #030;
    background-color: rgb(194, 214, 245);
    border: 1px solid #000000;
    overflow: hidden;
}


/* INPUTS, SELECTS, BUTTONS */

.tab input,.tab select{
    width: 200px;
    height: 20px;
}

.tab label{
    display: inline-block;
    height: 10px;
    width: 200px;
}

.tab button{
    background-color: rgb(215, 224, 238);
    text-align: center;
    font-size: 10;
    width: 70;
    height: 30;
}

#div_navigation button{
    background-color: rgb(215, 224, 238);
    text-align: center;
    font-size: 10;
    margin: 0.1%;
    width: 8%;
    height: 90%;
    padding: 1px;
}

 /* CANVAS */
#canvas_graphHistory{
    background-color: rgb(255, 255, 255);
    border: 1px solid #000000;

}


 /* TABLES */

.std_table{
    font-family: Helvetica,"Trebuchet MS", Arial, sans-serif;
    font-size: 10;
    border-collapse: collapse;
    width: 100%;
}

.std_table td,.std_table th{
    border: 1px solid #ddd;
    padding: 8px;
}

.std_table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #fff;
}

.std_table td:first-child{

    text-align: left;
}

.std_table tr:nth-child(even){background-color: #f2f2f2;}

.std_table thead tr{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(38, 78, 39);
    color: white;
}

 /* OTHER CLASSES */

.tableTooltip .tooltiptext {
    visibility: hidden;
    background-color: rgb(112, 108, 107);
    color: #fff;
    text-align: left;
    width: 10%;
    padding: 5px 0;
    right: 10%;
    top: 10%;
    opacity: 0.90;
    font-size: 10;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    overflow: auto;
    font-family: Helvetica,"Trebuchet MS", Arial, sans-serif;
}

.tableTooltip:hover .tooltiptext {
    visibility: visible;
}

.inputToolTip .tooltiptext {
    visibility: hidden;
    background-color: rgb(112, 108, 107);
    color: #fff;
    text-align: left;
    width: 10%;
    padding: 5px 0;
    right: 10%;
    top: 10%;
    opacity: 0.90;
    font-size: 10;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    overflow: auto;
    font-family: Helvetica,"Trebuchet MS", Arial, sans-serif;
}

.inputToolTip:hover .tooltiptext {
    visibility: visible;
}

.hiddenCell{
    visibility: hidden;
    position: absolute;
}
