# copy this file to .env (.gitignored) and fill in the values
DOMAIN= # (optional) domain where server is running, fallback to localhost
PROXY_MODE= # (optional) enable/disable proxy mode, when enabled, Dropbox download and upload operations are disabled. Local save files in the saves/ directory can still be used, fallback undefined (disabled)
DB_TOKEN= # (required, optional if PROXY=1 is set) dropbox token
PUBLIC_CONTACT_EMAIL= # (optional) public contact email adress for legal text, empty otherwise
GAGS_USERNAME= # (optional, required to support emails) nodemailer email
GAGS_PASSWORD= # (optional, required to support emails) nodemailer password
SESSION_COOKIE_NAME= # (optional) session cookie name, fallback to 'f_s'
SESSION_COOKIE_SECRET= # (required) encryption secret for session cookies
TOKEN_SECRET= # (required) this_has_to_be_exactly_32_chars_
TOKEN_EXPIRATION_TIME_MINUTES= # (optional) expiration time in minutes, ideally this should match the one at Entra ID, or at least should be smaller than that value, fallback to '60m'
TOKEN_COOKIE_NAME= # (optional) name of the cookie that saves the JWE, fallback to 'f_t'
APP_USER_AGENT_STRING= # (optional, required to support Capacitor App) app user agent string to detect if request comes from Capacitor App
SOCKET_ALLOWED_ORIGINS= # (optional, comma-separated browser origins; defaults to localhost and DOMAIN)
MSAL_DOMAIN_NAME= # (required) domain name of Entra External ID
MSAL_APP_CLIENT_ID= # (required) client_id of Entra External ID
MSAL_CLIENT_SECRET= # (required) client_secret of Entra External ID
REDIRECT_URI= # (optional) redirect uri after authentication actions, fallback to `http://localhost:<PORT>/auth/callback`;
SIGN_UP_SIGN_IN_FLOW= # (optional) SUSI auth flow, fallback to 'SUSI_DEV_LOCALHOST'
POST_LOGOUT_REDIRECT_URI= # (optional) redirect uri after logout, fallback to `http://localhost:<PORT>`;
